body {
    overflow: hidden;
}

.outer-wrapper {
    position: absolute;
    animation: 120s credits linear infinite;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.category {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    letter-spacing: 8px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
}

.element {
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 5px;
}

p {
    margin: 2px;
}

@keyframes credits {
    0% {
        top: 100%;
    }
    100% {
        top: -500%;
    }
}